@import "@/styles/mixin";

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding-inline: 16px;
  background-color: #fff;
}

.checkbox {
  display: flex;
  gap: 8px;
  align-items: center;
}

.checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.checkbox-label {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 14px;
  cursor: pointer;

  .checkbox-input:focus-visible + & {
    outline: -webkit-focus-ring-color auto 1px; // focus時のスタイルは他リンクorボタンと一旦同じになるように設定
  }
}

.checkbox-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border: solid 1.5px #e54d2e;
  border-radius: 50%;

  .checkbox-input:checked + .checkbox-label & {
    background-color: #c8c7cb;
    border-color: #c8c7cb;
  }

  &:before {
    width: 5px;
    height: 8px;
    content: "";
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: translateY(-1px) rotate(45deg);
  }
}

.delete-button {
  font-size: 14px;
  color: #e54d2e;

  @include hover-active {
    opacity: 0.7;
  }
}

// TODO: 以下ShoppingList.module.scssとほぼ同じCSSのため、ロジック実装後に可能と判断できれば共通化したい
.popup {
  position: absolute;
  right: 16px;
  bottom: 8px; // この値のみShoppingList.module.scssと異なる
  z-index: 2;
  min-width: 258px;
  background-color: #fff;
  border: 1px solid #e4e2e4;
  border-radius: 4px;
  box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.1);
  transform: translateY(100%);
}

.popup-list {
  padding: 10px 12px;
  &:not(:first-child) {
    border-top: 1px solid #e4e2e4;
  }
  li:not(:first-child) {
    margin-top: 8px;
  }
}

.popup-button {
  display: inline-flex;
  gap: 4px;
  align-items: center;
  font-size: 14px;
  font-weight: normal;
  color: #6f6e77;

  @include hover-active {
    opacity: 0.7;
  }
}

.popup-icon {
  display: inline-flex;
  width: 20px;
  height: 20px;

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}
