.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 2em;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  background-color: #3ea8ff;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 15px -5px #0f83fd;
  appearance: none;

  @media (hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}
