@import "@/styles/mixin";

.layout {
  width: 100%;

  @include pc {
    height: 100vh;
  }
}

.layout-inner {
  @include pc {
    display: flex;
    gap: 20px;
    justify-content: center;
    height: 100%;
    margin-inline: auto;
  }
}

.layout-side {
  display: none;

  @include pc {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    padding: 20px;
  }
}

.layout-page {
  @include pc {
    width: 100%;
    max-width: 480px;
    height: 100%;
    overflow-y: auto; // TODO: 現在は本コンテンツ内でのみスクロールを有効としているが、PCでも全体スクロールが効くように調整する
    border-right: 1px solid #e4e2e4;
    border-left: 1px solid #e4e2e4;
  }
}

.site-title {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;

  @include hover-active {
    opacity: 0.7;
  }
}
