@import "@/styles/mixin";

$side-width: 222px;
$page-width: 480px;
$layout-gap: 20px;

.layout {
  font-size: 14px;
  @include pc {
    position: relative;
    display: flex;
    column-gap: $layout-gap;
    justify-content: center;
    min-height: 100vh;
    margin-inline: auto;
  }

  &:before {
    display: none;

    @include pc {
      display: block;
      width: $side-width;
      content: "";
    }
  }
}

.layout-page {
  padding-bottom: 100px;

  @include pc {
    position: relative;
    width: $page-width;
    padding-bottom: 0;
    border-right: 1px solid #e4e2e4;
    border-left: 1px solid #e4e2e4;
  }
}

// TODO:　CSS調整
.layout-side {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: none;
  width: 100%;
  background-color: #fff;
  filter: drop-shadow(0px -2px 4px rgba(0, 0, 0, 0.12));

  @include pc {
    top: 0;
    bottom: auto;
    left: 50%;
    z-index: 0;
    display: flex;
    column-gap: 20px;
    align-items: flex-start;
    width: auto;
    width: $page-width + $layout-gap + $side-width;
    background-color: transparent;
    filter: none;
    transform: translateX(-50%);
  }
}

.layout-side-main {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include pc {
    row-gap: 40px;
    width: $side-width;
    padding: 20px;
  }
}

.layout-side-title {
  display: none;

  @include pc {
    display: block;
  }
}

.layout-side-title-link {
  display: flex;
  column-gap: 10px;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;

  @include hover-active {
    opacity: 0.7;
  }
}
