@import "@/styles/mixin";

.wrap {
  padding: 20px 0;
}

.section {
  padding-left: 16px;
  margin-bottom: 32px;
}

.title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 8px;
}

.featured-chef {
  display: flex;
  overflow-x: auto;
  gap: 16px;
}

.chef-item {
  flex-shrink: 0;
  position: relative;
  height: 232px;
  cursor: pointer;
}
