@import "@/styles/mixin";

.wrapper {
  position: relative;
}

.list-item {
  border-bottom: solid 1px #e4e2e4;
}

// ShoppingListTitle
.parent {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 16px 12px;
  font-size: 16px;
  font-weight: bold;
  border-bottom: solid 1px #e4e2e4;

  &:not(:first-child) {
    padding-top: 32px;
  }
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button-area {
  display: flex;
  gap: 18px;
  align-items: center;
}

.button {
  display: inline-flex;
  width: 20px;
  height: 20px;
}

.button-others {
  display: block;
  width: 18px;
  height: 18px;
}

// popup
.popup {
  position: absolute;
  right: 16px;
  bottom: 12px;
  z-index: 2;
  min-width: 258px;
  background-color: #fff;
  border: 1px solid #e4e2e4;
  border-radius: 4px;
  box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.1);
  transform: translateY(100%);
}

.popup-list {
  padding: 10px 12px;
  &:not(:first-child) {
    border-top: 1px solid #e4e2e4;
  }
  li:not(:first-child) {
    margin-top: 8px;
  }
}

.popup-button {
  display: inline-flex;
  gap: 4px;
  align-items: center;
  font-size: 14px;
  font-weight: normal;
  color: #6f6e77;

  @include hover-active {
    opacity: 0.7;
  }
}

.popup-icon {
  display: inline-flex;
  width: 20px;
  height: 20px;

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}
