.icon{
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
}

.titleWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  border-bottom: solid 1px #e4e2e4;
  &.left{
    justify-content: flex-start;
  }
  &.right{
    justify-content: flex-end;
  }
}

.title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: #1a1523;
  .gray{
    color: rgba(2, 0, 16, 0.57);
  }
  .small{
    font-size: 16px;
  }
}

.link{
  display: block;
}