.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  color: #1a1523;
  border-bottom: solid 1px #e4e2e4;
}
