.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 16px;
  align-items: center;
  align-self: stretch;
  border-bottom: 1px solid #e4e2e4;
}

.sub-title {
  color: #1a1523;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.text-favorite {
  line-height: 24px;
}

.contents {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-top: 20px;
  padding-left: 16px;
}

.favorite-chefs {
  display: flex;
  flex-direction: row;
  gap: 16px;
  overflow-x: auto;
  padding-bottom: 12px;
}
