@import "@/styles/mixin";

.page {
  padding-bottom: 100px;
}

.h2 {
  font-size: 16px;
  font-weight: 700;
}

.list {
  margin-top: 20px;
}

.item + .item {
  margin-top: 30px;
}

.textArea {
  margin-top: 14px;
  line-height: 1.21;
}

.text + .text {
  margin-top: 12px;
}

.link {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  color: #1a1523;

  @include hover-active {
    opacity: 0.7;
  }
}

.icon {
  display: inline-flex;
  flex-shrink: 0;
  width: 24px;
  height: 24px;

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.link-icon {
  display: inline-flex;
  flex-shrink: 0;
  width: 24px;
  height: 24px;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    transform: rotate(90deg);
  }
}

.blank-icon {
  display: inline-flex;
  flex-shrink: 0;
  width: 24px;
  height: 24px;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    transform: rotate(135deg);
  }
}
